* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

body {
    font-family: sans-serif;
}

main img {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.botao-menu {
    position: absolute;
    top: 65%;
    right: 40%;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #22BABB;
    color: white;
    cursor: pointer;
}

main .botao-menu:hover {
    background-color: black;
    border: 2px solid #F24405;
    transition: 0.5s;
}

p {
    margin-top: 20px;
    line-height: 30px;
}

h2 {
    color: #22BABB;
    font-size: 20px;
    text-align: center;
}

.titulo-logo {
    color: #22BABB;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 50px;
}

.titulo-imagem {
    color: #22BABB;
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 40px;
}

.subtitulo {
    color: #6b6a6a;
    position: absolute;
    top: 60%;
    left: 40%;
}

.navegacao {
    background-color: #348888;
    height: 50px;
    margin-bottom: 1px;
    padding: 10px;
}

.navegacao ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.navegacao li {
    padding: 15px;
    margin-right: 30px;
}

.navegacao a {
    color: #F24405;
    text-decoration: none;
    font-size: 20px;
}

.navegacao a:hover {
    color: black;
    transition: 0.5s;
}

.titulos {
    padding: 10px;
    margin-top: 20px;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #F24405;
}

.negrito {
    font-weight: bold;
}

.cards {
    background-color: #22BABB;
    height: 365px;
    width: 235px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.cards img {
    height: 100px;
}

.cards h5 {
    color: #FA7F08;
    font-size: 24px;
}

.cards p {
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}

.cards-principais {
    display: flex;
    justify-content: space-around;
    padding: 20px 35px;
    margin-top: 100px;
}

.quem-somos {
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: #22BABB;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 100px;
}

.quem-somos:hover {
    background-color: black;
    border: 2px solid #F24405;
    transition: 0.5s;
}

.img-fundo {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.caixa-principal {
    display: flex;
    justify-content: space-around;
    padding: 20px 35px;
}

.caixas {
    background-color: #22BABB;
    height: 60px;
    width: 150px;
    padding: 15px 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.452);
}

.caixas h1 {
    color: white;
    font-size: 24px;
    text-align: center;
}

.caixas h3 {
    text-align: center;
    color: white;
    margin-top: 10px;
}

footer {
    background-color: #000000;
    margin-top: 60px;
}

footer h1 {
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 60px;
}

footer img {
    height: 150px;
}

.botao-rodape {
    text-align: center;
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 60px;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 90%;
    font-weight: bold;
}

footer button:hover {
    background-color: #4B423B;
    border: 2px solid white;
    transition: 0.5s;
    color: white;
}

.fundo-rodape {
    background-color: #1B1B1B;
    padding: 20px;
}

.copy {
    color: #847D69;
    text-align: center;
}

@media (max-width:667px) {
 main img {
       height: 65vh;
}
.subtitulo{
    position: absolute;
    top: 55%;
    left: 10%;
}
.cards-principais{
    display: block;
}
.cards{
    margin-bottom: 20px;
}
.titulo-imagem {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 30px;
 }
}

.titulo-logo {
    top: 17%;
    left: 7%;
    font-size: 43px;
}
.titulos{
    margin-top: 55px;
}
.caixa-principal{
    display: block;
}
.caixas{
    margin-bottom: 20px;
}
.navegacao {
    padding: 20px;
}

.navegacao ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao li {
    padding: 10px;
    margin-left: 0;
}